name: Webhook CI

on: [push, pull_request]

jobs:
  push_and_pull_request_ci:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' || github.event_name == 'push' }}
    steps:
      - name: Webhook to gitlab
        uses: joelwmale/webhook-action@master
        with:
          url: ${{ secrets.BACKSTAGE_WEBHOOK_URL }}
          headers: ''
          body: |
            {
              "msg_type": "interactive",
              "card": {
                "config": {
                  "wide_screen_mode": true,
                  "enable_forward": true
                },
                "header": {
                    "title": {
                        "content": "Backstage-app ${{github.event_name}} triggered",
                        "tag": "plain_text"
                    },
                    "template": "turquoise"
                },
                "elements": [{
                  "tag": "note",
                  "elements": [{
                    "tag": "lark_md",
                    "content": "branch:${{github.ref_name}}"
                  }]
                }, {
                  "tag": "hr"
                }, {
                  "tag": "note",
                  "elements": [{
                    "tag": "lark_md",
                    "content": "content2"
                  }]
                }]
              }
            }
